html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#title{
	position:absolute;
	font-size: 80px;
	width: 100%;
	top: 30%;
}

p{
    text-align: center;
    width:70%;
    font-size: 160%;
}

.text{
    position: relative;
    color:black;
	background: none;
	border-radius: 0px;
    padding:0px;
	margin-left:auto;
    margin-right:auto;
    z-index: 9999999;
}

#text{
    position: relative;
	top:50%;
	left: -50px;
}

.block{
    height:100%;
    width:100%;
}

#block1,#block2{
    height: 150%
}

#bricks{
    position: fixed;
    top: 100%;
    width: 100%;
    height: 900px;
    z-index: -5;
}

#climbing{
    position: fixed;
    width: 90%;
    opacity: 0;
    top: 50%;
    right:-18%;
    z-index: -1;
}

#ladder{
    position: fixed;
    width: 80%;
    height: 110%;
    right:-14%;
    opacity: 0;
    top: 0%;
    z-index: -2;
}

#wallbg{
    position: fixed;
    top: 0%;
    opacity: 0;
    width: 100%;
    z-index: -6;
}

#chinesepeople{
    position: fixed;
    width: 70%;
    opacity: 0;
    top: 22%;
    right: 0%;
    z-index: -3;
}

#wallpeople{
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 100%;
}